body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 15px;
}
hr {
    width: 300px;	
    margin: 15px;
}
  
#but4 {
    height: 100px;
    width: 300px;
    border: 1px solid red;
}

.pic{
    display:block;
    margin-bottom: 5px;
}

#but7 {
    display:block;
}

#but11{
    width: 300px;
}

#inp17{
    display: block;
    width: 200px;
    margin: 5px;
}

#inp17n{
    display: block;
    width: 200px;
    margin: 5px;
}

#but18 {
    width: 300px;
}

#input20{
    width: 200px;
}

#inp23{
    display: block;
    width: 200px;
    margin-bottom:10px;
}

#input23{
    display: block;
    width: 200px;
    margin-bottom:10px;
}

